@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
}

header, li, a, button, p {
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navLinks {
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:  rgba(0, 136, 169, 0.8);
}
/* controls the banner art */
.hero {
    height: 200px;
    width: 100%;
    background-image: url("../gradient-dark-blue-futuristic-digital-grid-background.jpg");
    background-size: cover;
    background-position: center;
    border:#0088A9 5px solid;
}

main {
    display: flex;
    flex-direction: row;
}
/* Controls the div containing the info for each section */
.infoPannel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    width: 100%;
}
/* Controls the div containing the about me section of information */
#aboutMe {
    display: flex;
    flex-direction: row;
    height: 350px;
    justify-content: space-between;
    align-items: flex-start;
}
/* Controls the about me text box */
#aboutMe p {
    display: flex;
    width: 70%;
    justify-content: center;
    height: 350px;
    align-items: center;
    border: 10px double #0088A9;
    font-size: 20px; 
}
/* Places a border box around profile picture */
.profileBox {
    display: flex;
    border: 10px double #0088A9;
    width: 500px;
    height: 350px;
    justify-content: center;
    align-items: center;
}
/* Controls the about me profile picture */
#aboutMe img {
    display: block;
    border-radius: 50%;
    width: 325px;
    height: 325px;
}

#work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 525px;
}

.firstWork img {
    display: block;
    width: 1000px;
    height: 500px;
    border: #0088A9 10px double;
    z-index: 0;
    object-fit: cover;
}

.firstWork h3 {
    display: block;
    background-color: #24252A;
    position: absolute;
    transform: translate(10px, -68px);
    width: 350px;
}

.minorProject img {
    height: 500px;
    width: 320px;
    object-fit: cover;
    border:#0088A9 10px double;
}

.minorProject h3 {
    display: block;
    background-color: #24252A;
    position: absolute;
    transform: translate(10px, -73px);
    width: 300px;
}

/* Controls the aside containing the section titles */
aside {
    display: flex;
    gap: 90px;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    width: 300px;
    border-right: 10px double #0088A9;
    border-top: 10px double #0088A9;
}
/* Controls the section titles */
.sectionTitle {
    display: block;
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-align: center;
    padding-right: 10px;
    background-color: #0088A9;
    border-radius: 50px 0px 0px 50px;
}

#contactMe {
    display: block;
    height: 350px;
    padding: 10px 10%;
    justify-content: center;
}

#contactMe ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}