@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
}

header, li, a, button {
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.navLinks {
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:  rgba(0, 136, 169, 0.8);
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("../gradient-dark-blue-futuristic-digital-grid-background.jpg");
    background-size: cover;
    background-position: center;
    border:#0088A9 5px solid;
}

main {
    display: flex;
    flex-direction: row;
}

section {
    display: flex;
}

.work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-direction: column;
}

.firstWork img{
    display: block;
    z-index: 0;
    width: 40%;
    height: auto;
}

.sectionTitle {
    display: block;
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 35px;
    color: #edf0f1;
    text-align: center;
    padding-right: 10px;
    background-color: #0088A9;
    border-radius: 50px 0px 0px 50px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 800px;
    width: 300px;
    border-right: 10px double #0088A9;
    border-top: 10px double #0088A9;
}

.infoPannel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Montserrat", san-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}
